
{% extends "layout.html" %}

{% block body %}

<body>
<header class="header">
        <!-- left box for logo -->
        <div class="left">
            <img src="{{url_for('static', filename='SA logo white.svg')}}" style="max-width=100%;" >
            <p>Sentiment Analysis of Text-based on Tweets</p>
        </div>
        <!-- mid box for nav bar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="/" >Home</a></li>
                <li><a href="/SentAnalyzer" >Sentiment Analyzer</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/policy" class="active">Policy</a></li>
            </ul>
        </div>
    </header>


    <div id="main" class="main">
        <div id="center img" class="center image">
            <img  src="{{url_for('static', filename='SA center logo.svg')}}" style="max-width=100%;" >
        </div>
        <h2>Policy:</h2>
        <p class="about text">This page informs you of our policy regarding the collection
            and use of tweet/text, received from user input.This application uses your
            tweet/text data just for providing the accurate Sentiment Analysis result.
            <br><br><b>Information collection and use:</b><br><br>While using this application,
            you are asked to enter the tweet/text, which will be further processed and then
            accurately analyzed to detect the sentiment of input tweet/text and to show the
            respective results.
</p>
        <a href="/"><button type="button" class="btn" id="back-btn">Back to Home</button></a>
    </div>

<footer class="footer">
   <p>This application takes your Tweet/Text as input and uses this information
       just for showing the accurate Sentiment Analysis results.
</p>
</footer>
</body>
</html>

{% endblock %}